/* start-page.css */
body {
    margin: 0;
  }
  
  .starting-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    height: 100vh;
    background-color: #1a1a2e;
    color: #fff;
    font-family: 'Your Custom Font', sans-serif; /* Replace 'Your Custom Font' with the desired font */
  }
  
  .greeting {
    font-size: 48px; /* Set the desired font size for the greeting */
    margin-bottom: 20px;
    transition: color 0.3s ease; /* Transition the color on hover */
  }
  
  .greeting:hover {
    color: #ff9f43; /* Change color on hover */
  }
  
  .app-rectangle {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
  }
  
  .supplier-rectangle {
    background-color: #57cc99;
  }
  
  .consumer-rectangle {
    background-color: #ff9f43;
  }
  
  .app-rectangle:hover {
    background-color: #fff;
    color: #1a1a2e;
  }
  